<!-- Page Header -->
<header class="masthead" style="background-image: url('/images/admin.jpg')">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="site-heading">
					<h1>Admin Demo</h1>
					<span class="subheading">Show How To Manage Posts At Back End</span>
				</div>
			</div>
		</div>
	</div>
</header>

{{!< default}}
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-md-10 mx-auto">
			<p>Use keystone.js build a CMS website.</p>
			<img src="/images/cms-home.PNG" class="img img-fluid" alt="cms-home">
      <p>CMS homepage</p>
			<img src="/images/cms-posts.PNG" class="img img-fluid" alt="cms-posts">
			<p>Can create new posts</p>
			<img src="/images/cms-post.PNG" class="img img-fluid" alt="cms-post">
			<p>Post can be editted</p>
    </div>
  </div>
</div>
